@charset "utf-8";
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 1900px;
  height: 850px;
  position: relative;
  font-size:10px;
}

svg {
	width: 100%;
	height: 100%;
}

path.slice{
	/*stroke-width:.5px;
	stroke: #333;*/
}

.active path.slice, .selected path.slice  { fill: #f5ee31 !important; }
.selected-connection path.slice { stroke: #f5ee31; stroke-width: 2px; }

g.label-box { display:none; }
.active g.label-box, .selected g.label-box, .selected-connection g.label-box { display:block; }
polyline {
	opacity: .5;
	stroke: #666;
	stroke-width: 2px;
	fill: none;
}
text { font-size: 20pt; }

g.chordsBox path {
	stroke: #666;
	opacity: .5;
	stroke-width: 2px;
	fill:none;
	display:none;
}

g.chordsBox path.active, g.chordsBox path.selected, g.chordsBox path.core-selected { display:block; }
g.chordsBox path.selected { stroke: #000; opacity: .8; }
g.chordsBox path.core-selected { stroke: #7B38CF; opacity: .8; }

