@charset "utf-8";
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 1900px;
  height: 850px;
  position: relative;
  font-size:10px;
}

svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width:.5px;
	stroke: #333;
}

path.slice.active {
	stroke: #f5ee31;
	stroke-width: 3px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
text { font-size: 20pt; }
g.label-box { display:none; }
g.label-box.active { display:block; }

g.chordsBox:hover path.fade {
  display: none;
}
g.chordsBox path {
	stroke: #666;
	opacity: .5;
	stroke-width: 2px;
	fill:none;
	display:none;
}

g.chordsBox g.active path { display:block; }

